*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* .main2{
    width: 100%;
    height: 100vh;
    background-color: #79C2EE;
    border: 1px solid red;
    .realMain2{
        border: 1px solid red;
        width: 98%;
        margin-left: 1%;
        margin-top: 0.5%;
        height: 98%;
    }
} */

/* .main3{
    background-image: url(Group\ 18.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 120vh;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    place-items: center;
    .realMain3{
        border: 1px solid red;
        width: 98%;
        height: 98%;
    }
} */


header{
    width: 100%;
    height: 100vh;
    background-color: #79C2EE;
    overflow: hidden;
    .realHeader{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .rh-d1{
            img{
                position: absolute;
                margin-top: -150px;
                width: 55%;
                height: calc(100% + 150px);
            }
        }
        .rh-d2{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: center;
            .arr1{
                position: absolute;
                width: 175px;
            }
            div{
            }
            p{
                font-size: 30px;
            }
            .rhd2-d1{

            }
            .rhd2-d2{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                place-items: center;
            }
            .rhd2d2-p1{
                font-size: 30pt;
                width: 500px;
                height: 95px;
            }
            .rhd2d2-p2{
                margin-top: 40px;
                width: 600px;
            }
        }
    }
}

.main1{
    background-image: url(Group\ 18.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 120vh;
    .realMain1{
        margin-left: 4%;
        width: 92%;
        height: 90%;
        margin-top: 2.5%;
        .rm1-d1{
            display: grid;
            grid-template-columns: 1fr 1fr;
            .rm1d1{
            }
            #rm1d1-d1{
                display: grid;
                grid-template-rows: 8fr 2fr;
                text-align: center;
                p{
                    font-size: 28pt;
                    width: 80%;
                    margin-left: 10%;
                    margin-top: 25px;
                }
                img{
                    margin-left: calc(100% - 250px);
                    margin-top: -60px;
                    width: 200px;
                }
            }
        }
        #rm1d1-d2{
            display: flex;
            justify-content: center;
            place-items: center;
            img{
                width: 80%;
            }
        }
        .rm1-d2{
            display: grid;
            grid-template-columns: 2fr 3fr;
            div{
            }
            .rm1d2-d1{
                display: flex;
                flex-direction: column;
                justify-content: center;
                place-items: center;
            }
            .rm1d2-d2{
                display: flex;
                flex-direction: column;
                justify-content: center;
                place-items: center;
                p{
                    text-align: center;
                    font-size: 25pt;
                    width: 60%;
                }
            }
        }
    }
}

.main2{
    width: 100%;
    height: 100vh;
    background-color: #79C2EE;
    .realMain2{
        width: 98%;
        margin-left: 1%;
        margin-top: 0.5%;
        height: 98%;
        display: grid;
        grid-template-columns: 9fr 8fr;
        .rm2-d1{
            display: flex;
            img{
                width: 100%;
            }
        }
        .rm2-d2{
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            place-items: center;
            p{
                font-size: 25pt;
                width: 70%;
            }
        }
    }
}


.main3{
    background-image: url(Group\ 18.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    place-items: center;
    .realMain3{
        width: 90%;
        height: 70%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        .rm3-d1{
            display: flex;
            justify-content: center;
            place-items: center;
            p{
                font-size: 25pt;
                width: 90%;
            }
        }
        .rm3-d2{
            display: flex;
            justify-content: center;
            place-items: center;
            img{
                width: 430px;
            }
        }
        
    }
}

.main4{
    width: 100%;
    height: 120vh;
    background-color: #79C2EE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    .realMain4{
        width: 95%;
        height: 115vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        place-items: center;
        .rm4-d1{
            
            height: 30% ;
            display: flex;
            flex-direction: column;
            place-items: center;

            .rm4d1-dp{
                margin-top: 20px;
                background-image: url(Vector\ 9.png);
                width: 430px;
                height: 130px;
                background-repeat: no-repeat;
                display: flex;
                flex-direction: column;
                justify-content: center;
                place-content: center;
                p{
                    width: 400px;
                    font-size: 22pt;
                    text-align: center;
                    margin-left: 20px;
                }
            }
            img{
                position: absolute;
            }

            .rm4d1-img1{
                left: 100px;
                bottom: calc(-100vh - 120vh - 100vh - calc(105vh - 60%));
            }
            .rm4d1-img2{
                right: 100px;
                bottom: calc(-100vh - 120vh - 100vh - calc(105vh - 60%));
            }

        }
        .rm4-d2{
            height: 44.44% ;
            display: flex;
            width: 80%;
            justify-content: space-between;
            place-items: center;
            img{
                width: 31%;
            }
        }
        .rm4-d3{
            height: calc(100% - (30% + 44.44%));
            text-align: center;
            width: 75%;
            place-content: center;
            .rm4d3-p1 {
                font-size: 27pt;
            }
            
            .rm4d3-p2 {
              font-size: 27pt;
            }
            
            .inline {
              display: inline;
              background-image: url('Vector 9 (1).png');
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              
              width: 240px;
              height: 50px;
              position: absolute;
              text-align: center;
            }
        }
    }
}

#hh1{
    margin-left: 240px;
}

.rm4d1-img1, .rm4d1-img2 {
    width: 150px;
}

.rm4-d1,.rm4-d2,.rm4-d3{
    width: 100%;
}

.main5{
    width: 100%;
    height: 120vh;
    background-image: url(Group\ 18.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    .realMain5{
        width: 95%;
        height: 115vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        place-items: center;
        .rm5-d1{
            margin-left: 150px;
            height: 20% ;
            display: flex;
            flex-direction: column;
            place-items: center;

            .rm5d1-dp{
                position: absolute;
                background-image: url(Vector\ 4.png);
                width: 430px;
                height: 130px;
                background-repeat: no-repeat;
                display: flex;
                flex-direction: column;
                justify-content: center;
                place-content: center;
                p{
                    width: 400px;
                    font-size: 22pt;
                    text-align: center;
                    margin-left: -60px;
                    margin-top: -40px;
                    
                }
            }
            img{
                position: absolute;
            }

            .rm5d1-img1{
                left: 100px;
                bottom: calc(-100vh - 120vh - 100vh - 100vh - calc(105vh - 65%));
            }
            .rm5d1-img2{
                right: 100px;
                bottom: calc(-100vh - 120vh - 100vh - 100vh - calc(105vh - 65%));
            }

        }
        .rm5-d2{
            height: 44.44% ;
            display: flex;
            width: 80%;
            justify-content: space-between;
            place-items: center;
            img{
                width: 31%;
            }
        }
        .rm5-d3{
            height: calc(100% - (20% + 44.44%));
            text-align: center;
            width: 75%;
            place-content: center;
            .rm4d3-p1 {
                font-size: 27pt;
            }
            
            .rm5d3-p2 {
              font-size: 27pt;
            }
            
            .inline {
              display: inline;
              background-image: url('Vector 9 (1).png');
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              
              width: 240px;
              height: 50px;
              position: absolute;
              text-align: center;
            }
        }
    }
}

.hh2{
    text-align: center;
    font-size: 30pt;
    width: 60%;
    margin-top: 50px;
}

.rm5d1-img1, .rm5d1-img2 {
    width: 150px;
}

.rm5-d1,.rm5-d2,.rm5-d3{
    width: 100%;
}

.main6{
    width: 100%;
    height: 100vh;
    background-color: #79C2EE;
    .realMain6 {
        display: flex;
        justify-content: center;
        .rm6-p1{
            margin-top: 30px;
            font-size: 30pt;
            width: 70%;
            text-align: center;
        }
        .arr3{
            position: absolute;
            width: 70px;
            left: 100px;
            margin-top: 100px;
        }
        .stroy6{
            position: absolute;
            display: flex;
            flex-direction: row;
            height: 100vh;
            width: 60%;
            place-items: center;
            justify-content: space-around;
            img{
                width: 350px;
            }
        }

        .rm6-dp{
            position: absolute;
            height: 100vh;
            width: 30%;
            .real-rm6dp{
                position: absolute;
                width: 100%;
                height: 100px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                place-items: center;
                bottom: 30px;
                background-image: url(Vector\ 4\ \(1\).png);
                background-repeat: no-repeat;
                background-position: center;
                p{
                    position: absolute;
                    font-size: 28pt;
                    text-align: center;
                }
            }
        }

        .rm6-df{
            width: 85%;
            height: 100vh;
            position: absolute;
            display: flex;
            flex-direction: column;
            .rm6-f{
                width: 100%;
                position: absolute;
                height: 151px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                bottom: 0px;
                img{
                    width: 150px;
                }
            }
        }
    }
}

.main7{
    width: 100%;
    height: 100vh;
    background-image: url(Group\ 18.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;

    .m7-d1{
        position: absolute;
    }

    .rm7-f1{
        position: absolute;
        right: 2.5%;
    }
    .rm7-f2{
        position: absolute;
        bottom: calc(-100vh - 120vh - 100vh - 100vh - 140vh - 100vh - 100vh + 10px );
    }
    .realMain7{
        width: 95%;
        height: 95vh;
        display: grid;
        grid-template-rows: 1fr 1fr;
        .rm7-d1{
            width: 80%;
            display: flex;
            justify-content: space-between;
            .rm7d1-p1{
                display: flex;
                place-items: center;
                p{  
                    text-align: center;
                    font-size: 30pt;
                    width: 600px;
                    height: 150px;
                }
            }
        }
        .rm7-d2{
            width: 80%;
            margin-left: 20%;
            display: flex;
            justify-content: space-between;
            .rm7d2-p2{
                display: flex;
                place-items: center;
                p{  
                    text-align: center;
                    font-size: 30pt;
                    width: 700px;
                    height: 190px;
                }
            }
        }
    }
}

.main8{
    width: 100%;
    height: 100vh;
    background-color: #79C2EE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    .realMain8{
        width: 95%;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .rm8-d1{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        place-items: center;
        text-align: center;
        img{
            width: 400px;
        }
        p{
            width: 60%;
            font-size: 20pt;
        }
        button{
            transition: 0.4s;
            width: 300px;
            height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            place-items: center;
            border: none;
            border-radius: 10px;
            p{  
                transition: 0.4s;
                font-size: 15pt;
            }
        }
    }
    .rm8-d2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        .rm8d2-l{
            display: flex;
            justify-content: center;
            place-items: center;
            img{
                width: 300px;
            }
        }
        .rm8d2-r{
            overflow: hidden;
            display: flex;
            justify-content: center;
            place-items: center;
            .rm8d2-r1{
                overflow: hidden;
                height: calc(125vh + 30px);
                margin-bottom: calc(25vh + 30px);
                img{
                    
                    width: 300px;
                }
                .rm8d2r1-d2{
                    margin-top: 30px;
                }
            }
        }
    }
}

.rm8-d1 button:hover{
    transform: scale(0.9);
    box-shadow: 0px 0px 20px 1px rgb(0, 104, 136);
   p{
    transform: scale(1.3);
    transform: translateX(50px);
   }
   border-radius: 40px;
   cursor: pointer;
}

.pp2{
    display: none;
    transition: 0.4s;
}

.rm8-d1 button:hover .pp2{
    opacity: 1;
    display: inline;
}

